{% extends '../base.html' %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
		<div id="content">
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ board_list.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ board_list.content }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
				{% if request.session.authuser is not None  %}
					{% if request.session.authuser.id == board_list.user_id %}
					<a href="modify?id={{board_list.id}}">글 수정</a>
					<a href="delete?id={{board_list.id}}">글 삭제</a>
					<a href="reply?id={{board_list.id}}">답글 작성</a>
					<a href="/board">목록</a>
					{% else %}
					<a href="reply?id={{board_list.id}}">답글 작성</a>
					<a href="/board">목록</a>
					{% endif %}
				{% else %}
					<a href="/board">목록</a>
				{% endif %}
				</div>
			</div>
		</div>
{% endblock %}